<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About NodeBrain</h1>
            <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti magni sequi voluptatibus, id aperiam sed earum perferendis labore! Accusamus amet quae non magnam repudiandae itaque molestiae magni? Nostrum quam suscipit est ex obcaecati harum rem eius, qui accusantium praesentium et, architecto delectus quisquam dicta error corrupti deleniti quae modi quidem eum, itaque id. Maxime veniam atque, ipsum cum nulla commodi, earum eveniet sequi consequatur ratione ea voluptatum tempore possimus obcaecati minima quasi consectetur! Ipsam corporis aliquid dolor temporibus veniam voluptate, eaque, iure, vitae laudantium officiis autem culpa quidem voluptatem amet exercitationem itaque error sequi quisquam. Nisi, et. Sed molestiae rem quo amet temporibus! Soluta praesentium esse, accusamus sint totam porro nobis, dicta, nostrum impedit eaque vitae natus laborum aliquid quam sequi aut explicabo provident ex assumenda. Nisi, laborum facere? Dicta, et illum! Itaque quos reiciendis dolore ea cumque sed ducimus numquam provident cum! Voluptates voluptas, aliquid eius neque perspiciatis, eos labore, beatae dolores asperiores reprehenderit velit rerum aspernatur impedit. Rem, cum provident illum quisquam facilis sapiente unde voluptates ut corporis repellat voluptate esse, fugit eos veritatis officiis distinctio culpa eum alias, voluptatum ipsam doloribus laudantium tempora? Esse repellendus amet expedita quam impedit nulla quos quis fugit! Velit molestiae alias ab ipsam nulla dolore commodi quod sint delectus. Tempore quidem impedit quas iusto unde! Nostrum expedita distinctio maiores natus iste eligendi maxime cumque itaque illum enim deleniti nisi consequatur iusto delectus, laudantium reprehenderit ullam sint ut eos impedit fugiat officia aliquam beatae inventore! Pariatur beatae consequuntur, deserunt vitae neque dolorem ab commodi quam amet a quisquam similique nemo quasi doloremque? Inventore illo minus accusantium vitae recusandae consequuntur atque impedit quis! Saepe architecto accusamus repellendus tempore aliquam cumque voluptate dolor. Facere doloremque similique quam. Tempore laboriosam rem nemo debitis ex ducimus aperiam animi quidem, voluptatibus similique, nesciunt molestiae maiores voluptas eveniet corrupti.</p>
        </section>
        
    </div>
    <%- include('partials/footer')%>
</body>
</html>