<footer>
    <h4>Footer</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos ullam maxime rem dicta vitae, pariatur deleniti rerum porro? Similique suscipit odio earum, in error dolores atque tenetur architecto mollitia doloribus!</p>
</footer>